<div *ngIf="loading" class="loader">Cargando proyectos...</div>

<div *ngIf="proyectos$ | async as proyectos; else cargando" class="card-container">
  <div *ngFor="let p of proyectos" class="card">
    <div class="card-border-top"></div>
    <div class="img">
      <img src="/assets/default-user.png" alt="Imagen proyecto" />
    </div>
    <span>{{ p.titulo }}</span>
    <p class="job">{{ p.descripcion }}</p>
    <p class="job">Tecnologías: {{ p.tecnologias }}</p>
    <a *ngIf="p.repoUrl" [href]="p.repoUrl" target="_blank">
      <button>Ver Repo</button>
    </a>
    <a *ngIf="p.demoUrl" [href]="p.demoUrl" target="_blank">
      <button>Ver Demo</button>
    </a>
  </div>
</div>

<ng-template #cargando>
  <div class="loader">Cargando...</div>
</ng-template>
