<div class="programmers-container" *ngIf="programmers$ | async as programmers; else loading">
    <div class="card" *ngFor="let p of programmers">
        <div class="card-border-top"></div>

        <div class="img">
            <img *ngIf="p.photoURL; else defaultImg" [src]="p.photoURL" alt="{{ p.displayName }}">
            <ng-template #defaultImg>
                <img src="assets/default-user.png" alt="Default user">
            </ng-template>
        </div>

        <span>{{ p.displayName }}</span>
        <p class="job">{{ p.role }}</p>
        <p class="specialty" *ngIf="p.specialty">{{ p.specialty }}</p>

        <button [routerLink]="['/portafolio', p.uid, 'proyectos']">
            Ver Proyectos
        </button>


    </div>
</div>

<ng-template #loading>
    <div class="loader">Cargando programadores...</div>
</ng-template>